{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 隐私政策 {% endblock title %}

{% block header-nav %}
  <div style="padding-top: 40px;margin-right:15px">
    <span style="color:#999999;margin-right:25px">您好, 欢迎来到中国电信应用工厂!</span>
  </div>
{% endblock header-nav %}

{% block main_content %}
  <!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="well">
      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3">欢迎访问天翼空间应用工厂网站</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3"><a href="http://www.app2b.cn/"
                                                                                     target="_blank">www.app2b.cn</a></font></font></font><font
              face="宋体"><font size="3">！</font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><br>
      </p>

      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3">本网站上的网页是由中国电信股份有限公司应用商店运营中心</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">(</font></font></font><font face="宋体"><font
              size="3">以下
        <wbr>
        简称“我们”以及相应用语</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3">)</font></font></font><font face="宋体"><font size="3">进行运营和维护。</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3"><br>
        <br></font></font></font><font face="宋体"><font size="3">您在访问我们的网站时，我们的网站服务器会采集一些基本信息，
        <wbr>
        如您所感兴趣的服务提供商的域名、
        <wbr>
        您所访问的我们网站的页面和时间等。
        <wbr>
        我们仅用这些信息来分析我们网站的使用情况，以指导网站的改进。
        <wbr>
        我们不会收集任何私人保密信息。</font></font></p>
      <p align="LEFT" style="margin-bottom:0cm"><br>
      </p>

      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3"><b>用户隐私保护</b></font></font></p>

      <p align="LEFT" style="margin-left:0.64cm;margin-bottom:0cm">
        <br>
      </p>

      <p align="LEFT" style="margin-left:0.64cm;margin-bottom:0cm">
        <font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">1</font></font></font><font face="宋体"><font
              size="3">、用户充分知悉并同意，根据产品功能特点，
        <wbr>
        应用工厂可能收集以下数据：在您访问本网站网页时，
        <wbr>
        本网站会自动接收并记录的您的浏览器和计算机上的信息，
        <wbr>
        包括但不限于您的</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">IP
      </font></font></font><font face="宋体"><font size="3">地址、浏览器的类型、使用的语言、访问日期和时间、
        <wbr>
        软硬件特征信息及您需求的网页记录等数据；
        <wbr>
        为对用户反馈意见进行用户回访或者在用户参加活动等情况下，
        <wbr>
        本网站可能会要求您输入或上报手机号码、手机</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">IMSI</font></font></font><font
              face="宋体"><font size="3">号、
        <wbr>
        邮箱等；
        <wbr>
        用户对本网站的操作状态和行为信息等一些明确且客观反映在服务器
        <wbr>
        端的基本记录信息和其他相关信息，包括但不限于用户使用习惯、
        <wbr>
        浏览信息、从本网站跳转到商品购买网站等信息。</font></font></p>

      <p align="LEFT" style="margin-left:0.64cm;margin-bottom:0cm">
        <font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">2</font></font></font><font face="宋体"><font
              size="3">、用户充分知悉并同意，
        <wbr>
        应用工厂可能基于包括但不限于以下原因使用用户的信息资源：
        <wbr>
        提高用户使用的体验，提供客户支持改善或提高软件的技术和服务，
        <wbr>
        例如，帮助我们了解用户使用本网站的服务时遇到的问题，
        <wbr>
        帮助我们改善服务的质量、性能和安全性；
        <wbr>
        对整个用户数据库进行整理和运营分析；
        <wbr>
        其他利于用户利益和实现本软件功能的使用行为。
      </font></font>
      </p>
      <p align="LEFT" style="margin-left:0.64cm;margin-bottom:0cm">
        <font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">3</font></font></font><font face="宋体"><font
              size="3">、
        <wbr>
        应用工厂承诺将尽最大努力使用各种安全技术和程序对用户的个人信
        <wbr>
        息进行极为严格的保管，
        <wbr>
        但仍然不能保证现有安全技术措施使用户的技术信息等不受任何形式
        <wbr>
        的损失。
      </font></font>
      </p>
      <p align="LEFT" style="margin-left:0.64cm;margin-bottom:0cm">
        <font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">4</font></font></font><font face="宋体"><font
              size="3">、
        <wbr>
        如果您不是具备完全民事权利能力和完全民事行为能力的自然人，
        <wbr>
        您无权使用本网站服务，
        <wbr>
        因此应用工厂希望您不要向我们提供任何个人信息</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3"><br>
        5</font></font></font><font face="宋体"><font size="3">、应用工厂承诺，未经用户的许可，
        <wbr>
        应用工厂不会将任何用户信息与第三方共享。但以下情况除外：
      </font></font>
      </p>
      <p align="LEFT" style="margin-left:0.56cm;margin-bottom:0cm">
        <font face="宋体"><font size="3">（</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3">1</font></font></font><font face="宋体"><font size="3">）事先获得用户的授权；
      </font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3"><br></font></font></font><font face="宋体"><font size="3">（</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">2</font></font></font><font face="宋体"><font
              size="3">）用户自愿向第三方共享信息的；
      </font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3"><br></font></font></font><font face="宋体"><font size="3">（</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">3</font></font></font><font face="宋体"><font
              size="3">）只有透露用户的个人资料，
        <wbr>
        才能提供用户所要求的产品和服务；
      </font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3"><br></font></font></font><font face="宋体"><font size="3">（</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">4</font></font></font><font face="宋体"><font
              size="3">）根据有关的法律法规和政府主管部门要求；
      </font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3"><br></font></font></font><font face="宋体"><font size="3">（</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">5</font></font></font><font face="宋体"><font
              size="3">）
        <wbr>
        应用工厂对外签订的相关技术服务条款或业务合作协议的约定；
      </font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3"><br></font></font></font><font face="宋体"><font size="3">（</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">6</font></font></font><font face="宋体"><font
              size="3">）为维护应用工厂的合法权益；
      </font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3"><br></font></font></font><font face="宋体"><font size="3">（</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">7</font></font></font><font face="宋体"><font
              size="3">）其他应用工厂必须披露用户个人信息的情形。</font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><br>
      </p>

      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3"><b>关于</b></font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3"><b>Cookie</b></font></font></font><font face="宋体"><font size="3"><b>的使用</b></font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><br>
      </p>

      <p align="LEFT" style="margin-bottom:0.42cm"><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3">Cookies</font></font></font><font face="宋体"><font size="3">是少量的数据，在您未拒绝接受</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">cookies</font></font></font><font
              face="宋体"><font size="3">的情
        <wbr>
        况下，</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">cookies</font></font></font><font
              face="宋体"><font size="3">将被发送到您的浏览器，
        <wbr>
        并储存在您的计算机硬盘。</font></font></p>

      <p align="LEFT" style="margin-bottom:0.42cm"><font face="宋体"><font size="3">我们不会将储存在
      </font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">cookie
      </font></font></font><font face="宋体"><font size="3">中的信息链接到您在我们的网站上提交的任何个人识别信息。</font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3">您有权选择接受或拒绝接受</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">cookies</font></font></font><font
              face="宋体"><font size="3">。
        <wbr>
        您可以通过修改浏览器的设置以拒绝接受</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">cookies</font></font></font><font
              face="宋体"><font size="3">，
        <wbr>
        但是我们需要提醒您，因为您拒绝接受</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3">cookies</font></font></font><font face="宋体"><font size="3">，
        <wbr>
        您可能无法使用依赖于</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">cookies</font></font></font><font
              face="宋体"><font size="3">的我们网站的部分功能。</font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><br>
      </p>

      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3"><b>关于</b></font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3"><b>Google
        Analytics(</b></font></font></font><font face="宋体"><font size="3"><b>分析</b></font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3"><b>)</b></font></font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><br>
      </p>

      <p align="LEFT" style="margin-bottom:0.42cm"><font color="#000000"><font face="宋体"><font
              size="3">本网站</font></font></font><font face="宋体"><font size="3">使用</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">Google
        Analytics(</font></font></font><font face="宋体"><font size="3">分析</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">)</font></font></font><font face="宋体"><font
              size="3">，一项由</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">Google,
        Inc. </font></font></font><font face="宋体"><font size="3">谷歌公司（</font></font><font face="Times New Roman, serif"><font
              face="宋体, serif"><font size="3">"Google"</font></font></font><font face="宋体"><font
              size="3">）提供的网站分析服务。</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3">Google
        Analytics(</font></font></font><font face="宋体"><font size="3">分析</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">)</font></font></font><font face="宋体"><font
              size="3">使用「</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font size="3">cookies</font></font></font><font
              face="宋体"><font size="3">」，
        <wbr>
        就是一些放在你电脑内的文字档，
        <wbr>
        用以协助网站分析其用户如何使用该网站。</font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3">Cookies
      </font></font></font><font face="宋体"><font size="3">所设定有关</font></font><font color="#000000"><font face="宋体"><font
              size="3">你使用本</font></font></font><font face="宋体"><font size="3">网站的资料（包括你的</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">IP</font></font></font><font
              face="宋体"><font size="3">地址）
        <wbr>
        会转交至并存储在谷歌在美国的伺服器上。
        <wbr>
        谷歌会以这些资料来分析你使用本网站的情况、
        <wbr>
        为网站操作员编制网站活动的报
        告、及提供其他有关网站活动和使用互联网之服务。
        <wbr>
        如在法律规定时，或如第三方代表谷歌处理资料时，
        <wbr>
        谷歌可将这些资料转交至第三方。谷歌不会把你的</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3">IP</font></font></font><font face="宋体"><font size="3">地址
        与任何其他谷歌之数据联合在一起。
        <wbr>
        你可修改你的浏览器设定来选择拒绝</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font
              size="3">cookies</font></font></font><font face="宋体"><font size="3">，
        <wbr>
        可是请注意这样做你可能不能够使用本网站的完整功能。
        <wbr>
        使用本网站就表示你同意上述所指谷歌对处理你的资料之手法及目的
        <wbr>
        。</font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><br>
      </p>

      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3"><b>其他</b></font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><br>
      </p>

      <p align="LEFT" style="margin-bottom:0.42cm"><a name="1446ca9d23c6cc34__GoBack"></a>
        <font face="宋体"><font size="3">本政策如有任何实质性变更，我们将在此处予以发布，
          <wbr>
          以便您始终了解我们可能收集何等个人信息、
          <wbr>
          如何使用该等信息以及在何等情况下可能披露该等信息。
          <wbr>
          鉴于本政策可能不时发生变更，因此请定期查阅本政策，
          <wbr>
          尤其是在您提供任何补充个人身份识别信息之前。
          <wbr>
          如果您在本政策的变更发布后继续使用</font></font><font face="Times New Roman, serif"><font face="宋体, serif"><font size="3"><a
                href="http://app2b.cn/" target="_blank">app2b.cn</a></font></font></font><font face="宋体"><font size="3">的网络，
          则表示您已接受此等变更。</font></font></p>
      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3">如果您关于我们的隐私政策有任何疑问，请联系我们。</font></font>
      </p>

      <p align="LEFT" style="margin-bottom:0cm"><br>
      </p>

      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3">以上声明内容的最终解释权归</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3"><a href="http://www.app2b.cn/"
                                                                                     target="_blank">www.app2b.cn</a></font></font></font><font
              face="宋体"><font size="3">所有。</font></font></p>

      <p align="LEFT" style="margin-bottom:0cm"><font face="宋体"><font size="3">联系邮箱</font></font><font
              face="Times New Roman, serif"><font face="宋体, serif"><font size="3">:
        <a href="mailto:service@app2b.cn" target="_blank">service@app2b.cn</a></font></font></font></p></div>
    <div class="yj6qo">
    </div>

    <!-- end row -->
  </section>
  <!-- end widget grid -->

{% endblock main_content %}
{% block extrajs %}
{% endblock extrajs %}
