/* admin  specific CSS goes here. */
table tr.even.row_selected td {
    background-color: #d98a1d;
}
table tr.odd.row_selected td {
    background-color: #d1811e;
}

/* error */
label.error {
    background: #ffdddd;
    padding-left: 15px;
    margin-left: 3px;
    color: #FF0000;
}

input.error, select.error {
    border: 2px solid #FF0000;
}

.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    z-index: 100;
}

img.small-icon {
    width: 32px;
    height: 32px;
}

img.large-icon {
    width: 64px;
    height: 64px;
}

.label {
    padding-top: 3px;
}

td .action-button {
    min-width: 100px;
}