{% extends 'customer/website/customer.base.html' %}
{% load staticfiles %}
{% block customer_main_content %}
  <ul class="nav nav-tabs">
    <li><a href="{% url 'website:customer:customer_profile' %}">基本信息</a></li>
    <li class="active"><a href="{% url 'website:customer:customer_change_password' %}">账号安全</a></li>
    <li><a href="#">增票资质</a></li>
  </ul>
  <form id="id-change-password-form" action="{% url 'website:customer:customer_change_password' %}"
        method="post" class="form-horizontal profile-form">{% csrf_token %}
    <div class="text-frame">
      <div class="control-group">
        <label class="control-label">当前登录密码</label>
        <div class="controls">
          {{ form.old_password }}{{ form.old_password.errors }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">新密码</label>
        <div class="controls">
          {{ form.password1 }}{{ form.password1.errors }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">确认新密码</label>
        <div class="controls">
          {{ form.password2 }}{{ form.password2.errors }}
        </div>
      </div>
    </div>
    <div class="line"></div>
    {% if saved == 'true' %}
      <div class="hint">
        <span class="label label-success">保存成功！</span>
      </div>
    {% endif %}
    <input type="submit" class="btn pull-right" value="保存" />
  </form>
{% endblock %}
{% block extrajs %}
  <script>
    $(document).ready(function() {
      $('.hint').fadeOut(2000);
      $( '#id-change-password-form').validate();
    });
  </script>
{% endblock extrajs %}