/*********************************************************************Ultra Light Style*************************************************************/

.ultra-light-style #shortcut {
    background-color: rgba(44, 55, 66, .9);
}

body.ultra-light-style {
    background:#fff;
}
body.fixed-width {
    width:994px;
    margin:0 auto;
}
.ultra-light-style #header, .ultra-light-style .inbox-footer, .ultra-light-style .superbox-show {
    background-image:none;
    background-color: #fff;
}
.ultra-light-style .superbox-list.active:before {
    color: #2C3742;
}

.ultra-light-style .superbox-img-description  {
    color:#9EA8B1 !important;
}

.ultra-light-style #project-context>:first-child {
    text-shadow:none;
}
.ultra-light-style #project-selector {
    color: #B2C1D5;
}
.ultra-light-style #project-selector:hover {
    color: #F7F7F7;
}

.ultra-light-style #logo-group span#activity {
    background:none !important;
    border:none !important;
    color:#C5C6CA;
}
.ultra-light-style #logo-group span#activity:hover {
    color:#F7F7F7;
}

.ultra-light-style .header-search>input[type="text"] {
    background: #161B22;
    border: 1px solid #0F1217;
    color:#F7F7F7;
    border-radius:4px;
}

.ultra-light-style .btn-header>:first-child>a {
    height: 32px;
    background:none;
    color: #C5C6CA;
}
.ultra-light-style .btn-header>:first-child>a:hover {
    color:#565656;
    cursor:pointer !important;
}

.ultra-light-style .header-search>button, 
.ultra-light-style .header-dropdown-list a.dropdown-toggle {
    color: #C5C6CA;
}

.ultra-light-style #ribbon {
    background:#fff;
}

.ultra-light-style .btn.btn-ribbon {
    background: #9498A0;
}

.ultra-light-style #ribbon .breadcrumb li:last-child, 
.ultra-light-style #ribbon .breadcrumb>.active, 
.ultra-light-style #ribbon .breadcrumb, 
.ultra-light-style #ribbon .breadcrumb a {
    color: #7C7C7C !important;
}

.ultra-light-style aside {
    background: #fff;
}

.ultra-light-style #left-panel {
    padding:0px;
}

.ultra-light-style #logo-group>span .badge {
    background: #008DC4;
}

.ultra-light-style .login-info span, 
.ultra-light-style .login-info {
    border: 0 !important; 
    box-shadow:none !important;
}

.ultra-light-style .login-info span {
    padding: 5px 10px 7px;
    background: #FFF;
    border-radius: 4px;
}

.ultra-light-style #logo img {
    width: 281px;
    height: 43px;
    padding-left: 15px;
    padding-top: 20px;
}

.ultra-light-style .login-info { 
    margin-bottom:18px !important;
}

.ultra-light-style .login-info a, 
.ultra-light-style .login-info strong {
    font-size: 16px;
    color: #33455A;
}

.ultra-light-style .login-info img {
    width:35px;
}

.ultra-light-style nav ul li a {
    color: #69737A !important;
    font-size:12px !important;
}

.ultra-light-style nav ul li.open > a b {
    color: #69737A !important;
}

.ultra-light-style nav > ul > li > a {
    padding:15px;
    margin:0;
}

.ultra-light-style nav > ul > li > a span{
    display:inline-block;
    vertical-align:middle;
    color: #515151;
}

.ultra-light-style nav > ul > li > a.gray-bg {
    padding:5px 15px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    line-height: normal;
    color: #333;
    border-top: 1px solid #C2C2C2;
    background: #F5F5F5;
}

.ultra-light-style nav > ul > li.open > a.gray-bg {
    border-bottom: 1px solid #C2C2C2;
}

.ultra-light-style nav ul ul>li:hover b {
    color: #69737A !important;
}

.ultra-light-style nav>ul>li>a>i {
    font-size:25px !important;
}

.ultra-light-style nav ul ul {
    background: none;
}

.ultra-light-style nav ul .active>a {
    color: #EF6128 !important;
    font-weight: bold;
}

.ultra-light-style nav ul ul li>a:hover, 
.ultra-light-style nav ul li a:hover {
    background:none !important;
}

.ultra-light-style nav ul ul li>a {
    margin: 10px 14px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}


.ultra-light-style nav ul ul>:last-child>a {
    border-bottom: none;
}

.ultra-light-style nav > ul > li > ul::before, 
.ultra-light-style nav > ul ul li::before {
    border: none !important;
}

.ultra-light-style nav ul ul ul li a {
    padding-left:30px;
}

.ultra-light-style nav ul ul ul ul li a {
    padding-left:40px;
}

.ultra-light-style nav ul ul ul ul ul li a {
    padding-left:50px;
}

.ultra-light-style nav ul ul ul ul ul ul li a {
    padding-left:60px;
}

.ultra-light-style .jarviswidget-color-blueDark>header {
    
    background: #2C3742 !important;
    border-color: #2C3742!important;
}

.ultra-light-style .btn {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.05);
}

.ultra-light-style .widget-toolbar .btn {
    margin-top: -15px;
    font-size: 12px !important;
    padding: 7px 13px !important;
}

.ultra-light-style .btn-primary, .ultra-light-style .smart-form .button{
    background-color: #F2781F;
    border-color: #EB5106;
}

.ultra-light-style .btn-primary:hover, 
.ultra-light-style .btn-primary:focus, 
.ultra-light-style .btn-primary:active, 
.ultra-light-style .btn-primary.active, 
.ultra-light-style .open .dropdown-toggle.btn-primary {
    background-color: #EC681C;
    border-color: #E96235;
}

.ultra-light-style .dropdown-menu>li>a:hover, 
.ultra-light-style .dropdown-menu>li>a:focus {
    background-color: #EC681C;
}



.ultra-light-style .btn-success {
    background-color: #96bf48;
    border-color: #84A83E;
}

.ultra-light-style .btn-success:hover, 
.ultra-light-style .btn-success:focus, 
.ultra-light-style .btn-success:active, 
.ultra-light-style .btn-success.active, 
.ultra-light-style .open .dropdown-toggle.btn-success {
    background-color: #89AD45;
    border-color: #78973B;
}

.ultra-light-style .btn-danger {
    background-color: #DB4A67;
    border-color: #CA4862;
}

.ultra-light-style .btn-danger:hover, 
.ultra-light-style .btn-danger:focus, 
.ultra-light-style .btn-danger:active, 
.ultra-light-style .btn-danger.active, 
.ultra-light-style .open .dropdown-toggle.btn-danger {
    background-color: #CF4762;
    border-color: #C0455E;
}


.ultra-light-style .btn-warning {
    background-color: #E2B14A;
    border-color: #C99D42;
}

.ultra-light-style .btn-warning:hover, 
.ultra-light-style .btn-warning:focus, 
.ultra-light-style .btn-warning:active, 
.ultra-light-style .btn-warning.active, 
.ultra-light-style .open .dropdown-toggle.btn-warning {
    background-color: #D6A848;
    border-color: #C09844;
}

.ultra-light-style .pagination>.active>a, 
.ultra-light-style .pagination>.active>span, 
.ultra-light-style .pagination>.active>a:hover, 
.ultra-light-style .pagination>.active>span:hover, 
.ultra-light-style .pagination>.active>a:focus, 
.ultra-light-style .pagination>.active>span:focus {
    background-color: #3b9ff3;
}

/*
 * COLOR PALLET
 */
.ultra-light-style .bg-color-red {
    background: #DB4A67 !important;
}

.ultra-light-style .bg-color-blue {
    background: #4387bf !important;
}

.ultra-light-style .smart-form .checkbox input:checked+i, 
.ultra-light-style .smart-form .radio input:checked+i, 
.ultra-light-style .smart-form .toggle input:checked+i {
    border-color: #3b9ff3;
}

.ultra-light-style .smart-form .toggle i:before {
background-color: #3b9ff3;
}

.smart-form .rating input+label:hover, 
.smart-form .rating input+label:hover~label {
    color: #3b9ff3;
}

.ultra-light-style .bg-color-greenLight {
    background-color: #89AD45 !important;
}

.ultra-light-style .bg-color-orange {
    background-color: #D6A848 !important;
}

.ultra-light-style .bg-color-teal {
    background-color: #5ba0a3 !important;
}

.ultra-light-style .minifyme {
    background: #D7DAE2;
    border-bottom: 1px solid #818181;
    color: #7E7E7E;
}

.ultra-light-style  .minifyme:hover {
    color: #4E4E4E;
}

.ultra-light-style .onoffswitch-inner:before {
    background: #3b9ff3;
    border-color: #3b9ff3 #257DC7 #2A7DC4;
}

.ultra-light-style .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch:before {
    color: #84A83E;
}


.ultra-light-style .btn {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ultra-light-style .btn-bold {
    font-weight: bold;
}

.ultra-light-style div.border-color-orangeLight {
    background-color:#FFFDF9 !important;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-top-color: #F6BD68 !important;
    border-right-color: #F6BD68 !important;
    border-left-color: #F6BD68 !important;
    border-bottom-color: #F6BD68 !important;
    color: #747474 !important;
    font-size: 11px;
}

.ultra-light-style .txt-red-highlight {
    color:#C00714 !important;
    font-weight:bold;
}

.ultra-light-style div.border-color-orangeLight .well {
    background-color:#FFF !important;
    margin-top: 5px;
}

.ultra-light-style div.border-color-orangeLight .well span,
.ultra-light-style div.border-color-orangeLight .well span a {
    font-size: 12px;
    color: #000;
}

.ultra-light-style .btn-group > a.btn:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ultra-light-style hr {
    margin:0 13px;
    border: 0;
    border-top: 2px solid #EEE;
}

.ultra-light-style .table > thead:first-child > tr:first-child > th {
  border-top: 2px solid #DDD;
  vertical-align: bottom;
  border-bottom: 1px solid #DDD;
}

.ultra-light-style .borderless td {
    border:none;
}

.ultra-light-style .widget-body > table {
    border-collapse: separate;
    border-spacing: 0 4px;
}
.ultra-light-style .widget-body  > .table > tbody > .warning > td {
    border-bottom:1px dashed rgba(0, 0, 0, 0.2);
}
/********************************************************************* STYLE 3 *************************************************************/



