{% extends "admin/admin.base.html" %}
{% load i18n %}

{% block body %}

<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a href="#" class="brand">
        <small>
          <i class="icon-leaf"></i>
          {% trans 'Password reset' %}
        </small>
      </a><!--/.brand-->

      {% include 'admin/topnav.inc.html' %}
    </div><!--/.container-fluid-->
  </div><!--/.navbar-inner-->
</div>

<div class="container-fluid main-container">

  {% if validlink %}
  <h3>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h3>
  <form action="" method="post">{% csrf_token %}
  {{ form.new_password1.errors }}
  <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
  {{ form.new_password2.errors }}
  <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
  <p><input type="submit" value="{% trans 'Change my password' %}" /></p>
  </form>

  {% else %}

  <h3>{% trans 'Password reset unsuccessful' %}</h3>

  <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

  {% endif %}
</div>

{% endblock body %}