{#a simple template works with ModelAwareMixin#}
{% extends 'common/admin/generic.form.inc.html' %}
{% load staticfiles %}

{% block pagecontent_js %}
<script type="text/javascript">
  window.UEDITOR_HOME_URL = "{% static 'libs/ueditor1_3_6/' %}";
</script>
<script type="text/javascript" charset="utf-8" src="{% static 'libs/ueditor1_3_6/ueditor.config.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'libs/ueditor1_3_6/ueditor.all.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'libs/ueditor1_3_6/themes/default/css/ueditor.css' %}"/>

<script type="text/javascript">
  $(document).ready(function () {
    var $form = $('#{{ form_id }}');
    $('#id_title_image_file', $form).enableAceImageInput(1024, 1024, 113, 88);

    var ue1 = new UE.ui.Editor({
      toolbars:[['fullscreen', 'source', 'preview', '|','insertimage']]
      //更多其他参数，请参考editor_config.js中的配置项
    });
    ue1.render('id_images_html');

    var ue2 = new UE.ui.Editor({
      toolbars:[['fullscreen', 'source', 'preview', '|','insertimage']],
      maxImageSideLength : 1500
      //更多其他参数，请参考editor_config.js中的配置项
    });
    ue2.render('id_detail_images_html');

    var ajaxFormOptions = $.extend($form.buildAjaxFormOptions(), {
      beforeSerialize : function () {
        // pure text + image tag
        $("#id_images_plain_text").val(ue1.getPlainTxt());
        $("#id_detail_images_plain_text").val(ue2.getPlainTxt());
      }
    });
    $form.ajaxForm(ajaxFormOptions);

  });
</script>
{% endblock pagecontent_js %}